@import url('https://fonts.cdnfonts.com/css/nabla');
@import url('https://fonts.cdnfonts.com/css/digital-7-mono');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

.headfont {
    font-family: 'Nabla', sans-serif;
}

.timer {
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 15em;
}


.solves-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .solves-panel.visible {
    transform: translateX(0);
  }
  
  .solves-panel.hidden {
    transform: translateX(100%);
  }
  


  