@import url('https://fonts.cdnfonts.com/css/nabla');
@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
@import url('https://fonts.cdnfonts.com/css/wheaton');

@tailwind base;
@tailwind components;
@tailwind utilities;


.headfont {
    font-family: 'Nabla', sans-serif;
}

.timer {
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 12rem;
}


.solves-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .solves-panel.visible {
    transform: translateX(0);
  }
  
  .solves-panel.hidden {
    transform: translateX(100%);
  }
  
.wheaton {
    font-family: 'Wheaton', sans-serif;
}

  